.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

.idea/
.vscode/
*.iml
*.log
logiclike-screen.png
logiclike-*.png
window-*.xml
.android-avd/
.tmp/
.gradle-home/
.pub-cache/

.DS_Store
Thumbs.db
